* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'josefin sans', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;

}

:root {
  --bg--color: #101001;
  --secound-bg-color: #191919;
  --text-color: #101001;
  --secound-color: #c6c9d8bf;
  --main-color: #f9004d;
  --big-fonts: 5.3rem;
  --h2-font: 4.2rem;
  --p-font: 1.1rem;

}

body {
  background: var(--bg--color);
  color: var(--text-color);

}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: o;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 15%;
  transition-duration: .5s;
}

.logo {
  color: var(--text-color);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  display: flex;

}

.navbar li {
  position: relative;
}

.navbar a {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: purple;
  left: 0;
  bottom: -4px;
  transition: ease .40s;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 40px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.h-btn {
  padding: 0 30px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  background: var(--main-color);
  color: var(--text-color);
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all .30s;
}

.h-btn:hover {
  transform: translateY(-5px);
}

section {
  padding: 120px 15px;
}

.home {
  height: 100vh;
  width: 100%;
  background: url(rv.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.home-text {
  margin: 40px
}

.home-text h1 {
  margin: 20px 0px 20px;
  font-size: var(--big-fonts);

}

span {
  color: var(--main-color);
}

.home-text h3 {

  font-size: 25px;
  margin-top: -23px;

}

.home-text h4 {
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
}

.newsletter form {
  margin-top: 30px;
  width: 300px;
  max-width: 100%;
  position: relative;
}

.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid var(--main-color);
  border-radius: 30px;


}

.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  background: var(--main-color);
  padding: 12px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
  cursor: pointer;
  top: 6px;
  right: 6px;
}

header.sticky {
  padding: 10px 10px;
  background: var(--main-color);

}

.sticky.navbar a::after {
  background-color: var(--text-color);
}

.sticky.h-btn {
  background: var(--text-color);
  color: #000;
}

.about-text {
  color: white;
  margin: auto;
}


.About {
  margin-top: -60px;
  background: rgb(129, 189, 124);
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 2rem;
}

.About-img img {
  
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.about-text {
  margin-right: 200px;
}

.about-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 20px;
}

.about-text h5 {
  font-size: 28px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.about-text p {
  color: var(--secound-color);
  letter-spacing: 1px;
  line-height: 28px;
  max-width: 590px;
  font-size: var(--p-font);
  margin-bottom: 45px;

}

.btn {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--text-color);
  border: 2px solid transparent;
  font-weight: 600;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease .35s;

}

.btn:hover {
  transform: translateY(-8px);
  border: 2px solid var(--main-color);
  background: transparent;
}

.services {
  margin-top: 10px;
  background: var(--bg--color);
  color: beige;
}

.center {
  margin-top: -70px;
  text-align: center;
}

.center h2 {
  font-size: var(--h2-font);
  margin-bottom: 15px;
}

.center p {
  color: var(--secound-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: var(--p-font);
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.5rem;
}

.row {
  background-color: #131212;
  padding: 55px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .35s;

}

.row svg {
  background-color: var(--main-color);
  margin-bottom: 20px;
  font-size: 2.7rem;
}

.row h3 {
  color: whitesmoke;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.row p {
  color: var(--secound-color);
  line-height: 30px;
  font-size: var(--p-font);
}

.row:hover {
  transform: translateY(-10px)
}

.contact {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 3rem;
}

.contact-form {
  margin-top: -80px;
  margin-left: 60px;
}

.contact-form h2 {
  font-size: var(--h2-font);
  margin-bottom: 15px;

}

.contact-form p {
  color: var(--secound-bg-color);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: var(--p-font);
  margin-bottom: 4.1rem;
}

.contact-form form {
  position: relative;
  margin-top: -20px;

}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: var(--secound-bg-color);
  color: whitesmoke;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;

}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-form form .send {
  display: inline-block;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  width: 200px;
  transition: ease .35s;
  text-transform: uppercase;
  align-items: center;
}

.contact-img img {
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-top: -100px;
}

.contact-form form .send:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.footer {
  text-align: center;
  background-color: var(--secound-bg-color);
  color: #101001;
  padding: 34px;
}

.footer p {
  font-size: 17px;
  color: var(--secound-color);
  letter-spacing: 1px;
}

@media(max-width:1270px) {
  header {
    padding: 18px 4%;
    transition: .2s;
  }

  header.sticky {
    padding: 10px 4%;
    transition: .2s;
  }

  section {
    padding: 80px 4%;
    transition: .2s;
  }

  :root {
    --big-fonts: 4.8rem;
    --h2-font: 3.2rem;
    --p-font: 1rem;
    transition: .2s;
  }
}

@media(max-width:600px) {
  .home {
    height: 85vh;

  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: -700px;
    ;
    left: 0;
    right: 0;
    flex-direction: column;
    background: var(--bg--color);
    text-align: left;
    transition: all .30s;
  }

  .navbar a {
    display: block;
    color: white;
    padding: 1.1rem;
    margin: 1.3rem;
    border-left: 2px solid white;
  }

  .navbar a:hover {
    background: var(--main-color);

  }

  .navbar a::after {
    display: none;
  }

  .navbar .active {
    top: 100%;
  }

  .About {
    grid-template-columns: 1fr;
  }
  .About-img{
    text-align: center;
    margin-bottom: 30px;
  }
 .About-img img{
  max-width: 100%;
  width: 700px;
  height: auto;
 }
 .contact{
  grid-template-columns: 1fr;
 }
 .contact-img{
  text-align: center;
  margin-bottom: 25px;
 }
 .contact-form{
  order:2;
 }
}